@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

* {
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
}

.name {
    font-weight: 700;
    font-size: 150px;
}

.email {
    margin-top: 20px;
    font-size: 75px;
}
  
.insta {
    position: absolute;
    font-size: 75px;
    bottom: 400px;
    right: 50px;
}

.blog {
    position: absolute;
    font-size: 75px;
    bottom: 200px;
    right: 50px;
}