/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css); */

html, body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

#nav {
    margin: 0px 0px 20px;
}

.nav-text {
    white-space: nowrap;
}

.nav-about {
    float: right;
}

#content-left {
    width: 50%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

#content-right {
    width: 50%;
    float: right;
    padding: 5px;
    box-sizing: border-box;
}

.content-left-under-blank, .content-right-under-blank {
    padding: 5px;
}

img {
    margin: auto;
    text-align: center;
}

@media (max-width: 799px) {
    .content-left-text {
        line-height: 1.3;
        margin-bottom: 1.2em;
    }

    .content-right-text, .content-right-under-text {
        line-height: 1.1;
        margin-bottom: 1.2em;
    }

    .content-left-under-text {
        line-height: 1.2;
        margin-bottom: 1.2em;
    }
}

@media (min-width: 800px) {
    .content-left-text {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .content-right-text {
        font-size: 15px;
        line-height: 1.0;
        margin-bottom: 20px;
    }

    .content-left-under-text {
        font-size: 15px;
        line-height: 1.15;
        margin-bottom: 20px;
    }

    .content-right-under-text {
        font-size: 15px;
        line-height: 1.1;
        margin-bottom: 20px;
    }
   
    .left-image {
        text-align: center;
    }
}