@import url("fonts/apple-sd-gothic-neo.css");

* {
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}

#typing-area {
  width: 90%; /* 모바일 화면에서는 가로폭을 90%로 설정 */
  height: auto;
  border: 2px solid #333;
  padding: 10px;
  margin: 50px auto;
  overflow-y: scroll;
  font-size: 18px;
  /* font-family: 'Courier New', Courier, monospace; */
  position: relative;
  margin-bottom: 0px;
}

#image-box {
  width: 90%; /* 모바일 화면에서는 가로폭을 90%로 설정 */
  height: auto;
  border: 2px solid #333;
  padding: 10px;
  margin: 50px auto;
  overflow-y: scroll;
  font-size: 18px;
  /* font-family: 'Courier New', Courier, monospace; */
  position: relative;
}

#copyright {
  width: 91.5%;
  margin: 0px auto;
  margin-top: 0px;
}

/* #cursor {
  display: none;
  width: 8px;
  height: 20px;
  background-color: black;
  animation: blink 0.7s infinite;
  position: absolute;
  top: 0;
  left: 0;
} */

.image-1 {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 2.5rem;
  font-weight:bold;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.flow-wrap {
  animation: textLoop 15s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* 모바일 화면에서는 가로폭을 더 줄이고 폰트 크기를 줄여서 텍스트가 보기 좋게 나오도록 함 */
@media (max-width: 768px) {
  #typing-area {
    width: 80%;
    font-size: 16px;
  }
  #image-box {
    width: 80%;
    height: auto;
    font-size: 16px;
  }
  #copyright {
    width: 85%;
    font-size: 10px;
  }
}