@font-face {
    font-family: "ariblack";
    src: url("ariblack.ttf") format("truetype");
    font-weight: normal;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

#nav {
    margin: 0px 0px 20px;
    background-color: #33ff33;
    color: black;
    border-bottom: 1px solid black;
    font-family: "ariblack";
    text-decoration: none;
}

.nav-text {
    white-space: nowrap;
}

.nav-back {
    float: right;
}

li {
    line-height: 1.1;
}

#content {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.text-active {
    padding: 5px;
}

@media (max-width: 799px) {
    .nav-text {
        letter-spacing: -1px;
    }
}