@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoT),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoT.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoT.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoT.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoL),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoUL.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoUL.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoUL.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoL),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoL.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoL.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoL.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoR),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoR.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoR.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoR.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoM),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoM.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoM.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoM.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoSB),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoSB.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoSB.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoSB.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoB),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoB.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoB.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoB.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoEB),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoEB.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoEB.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoEB.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: AppleSDGothicNeo;
    src: local(AppleSDGothicNeoH),
        local(AppleSDGothicNeo),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoH.eot#iefix') format('embedded-opentype'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoH.woff') format('woff'),
        url('./apple-sd-gothic-neo/AppleSDGothicNeoH.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}